main > .container {
  padding: 10px 10px 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.h2,
.h1-text {
  color: #d39aa1;
}
@media (width <= 788) {
}
.wrapper {
  outline: 2px blue solid;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}
body {
  /* background-image: url(/img/pramod-tiwari-_eWHfuxFW7o-unsplash.jpg); */
  background-image: url(/img/pramod-tiwari-2v7ukj3O2Ss-unsplash.jpg);
  /* cover is the same as background-size: 100%; */
  background-size: cover;
  /* background-position deals with left, right, and center (appended by: top, center, and, bottom)  */
  background-position: center bottom;
  color: white;
  background-size: cover;
}
nav {
  background-color: #041222;
}
