main > .container {
  padding: 10px 10px 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: rgba(255, 255, 255, 0.5);
}
@media (width <= 788) {
}
.wrapper {
  outline: 2px blue solid;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}
body {
  background-image: url(/img/pramod-tiwari-_eWHfuxFW7o-unsplash.jpg);
  background-size: cover;
  /* cover is the same as 100% */
  background-position: 10%;
  color: white;
}
